/***********************************************************************/
/*                      DEFAULT STYLES + FONTS                         */
/***********************************************************************/
body {
    margin: 0;
    background: fixed;
    background-color: #F9F9F9;
    overflow-x: hidden;
}
.body-content {
	background-color: white;
	padding: 0;
}
* {
	box-sizing: border-box;
}
p {
	font-family: "Yu Gothic";
	font-size: 1.2em;
}
@font-face {
	font-family: "Yu Gothic";
    src: url(../fonts/YuGothR.ttc);
}
@font-face {
	font-family: "";
    src: url(../fonts/);
}
@font-face {
	font-family: "Walkway Black";
    src: url(../fonts/Walkway Black.ttf);
}

@media screen and (min-width: 769px) {
	#menu {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	/* insert style */
}

/***********************************************************************/
/*                         CSS FOR NAV AND FOOTER                      */
/***********************************************************************/
.navbar > .container-fluid {
	margin: 0 100px;
}
#gen-nav ul {
	list-style-type: none;
}
footer {
	background-color: #2A2A2A;
	padding: 30px;
	text-align: center;
}
footer p {
	color: white;
	font-family: "Yu Gothic";
	font-size: 0.9em;
	margin: 0 100px;
}
