/***********************************************************************/
/*                     STYLE FOR THE HOME PAGE                         */
/***********************************************************************/
#filter {
	margin-top: 30px;
	margin-left: 80px;
	float: left;
	position: block;
}
#establishments {
	margin-top: 30px;
	margin-right: 80px;
	margin-left: 10px;
	float: right;
}
}
.search-input-group .input-group-addon{
    background: white !important; 
}
.search-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.search-input-group button{
    border:0;
    background:transparent;
}

legend {
	font-family: "Walkway Black";
}

.checkbox-inline {
	display: block;
}
@media screen and (min-width: 769px) {
	#establishments,{
		margin: 0 100px;
	}
	#contacthome {
		background-color: ##5FC7FF;
		padding: 60px 100px;
		margin: 0;
	}
	.center1{
		margin-left: 25%;
	}
@media screen and (min-width: 1024px) {
	.row {
		width: 31%;
	}
	.center{
		margin-left: 18%;
	}
	.center1{
		margin-left: 10px;
	}
}