/***********************************************************************/
/*                 STYLE FOR THE ADMIN SETTINGS PAGE                   */
/***********************************************************************/

.body-content {

	padding: 15px;
}

.well {
	margin: 10px;
}

.well .table {
	font-size: 0.9em;
}

.well h4 {
	text-align: center;
	padding: 10% 0;
}

@media screen and (min-width: 769px) {
	
	.well {
		margin: 5% 20%;
		top: 300px;
	}
}

@media screen and (min-width: 1024px) {
	/* insert style */
}

