/***********************************************************************/
/*                         CSS FOR EMAIL.BLADE PAGE                    */
/***********************************************************************/
.body-content {
	background: linear-gradient(to bottom,
		rgba(235,247,255,1) 0%,
		rgba(235,247,255,1) 22%,
		rgba(61,184,255,1) 50%,
		rgba(107,203,255,1) 66%,
		rgba(107,203,255,1) 100%);
}

#reset {
	text-align: left;
	font-family: "Walkway Black";
	display: block;
	position: relative;
	display: block;
	color: #2A2A2A;
	width: 100%;
}

#reset > h2 {
	margin-top: 70px;
	margin-left: 100px;
	margin-bottom: -60px;
}


.logform {
	margin: 80px;
	padding: 40px 20px;
	border-radius: 0;
	border-top: 5px solid #009BFF;
	background-color: rgba(42,42,42, 0.7);
	display: block;
	color: white;
	height: 300px;
}


.input-group {
	margin: 10px 20px;
	border-radius: 100%;
}


#sizing-addon1 {
	background-color: rgba(0,0,0, 0.6);
	border: none;
}

#email, #password, #password-confirm {
	background-color: rgba(0,0,0, 0.6);
	border: none;
	width: 100%;
	transition: all .2s linear;
}


#password:focus, #email:focus, #password-confirm:focus {
	border-bottom: 2px solid white;
	width: 99%;
}

.glyphicon {
	color: white;
}

.help-block {
	color: red;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}

.button-grp {
	width: 400px;
	float: right;
}

.btn-reset {
	float: right;
}

span {
	margin: 0;
}

@media screen and (min-width: 769px) {
	.body-content {
		padding: 0 15%;
	}

	.logform {
		padding: 40px 10px;
		width: 500px;
		height: 310px;
		margin: 80px 50%;
	}

	#reset {
		width: 400px;
		margin: 0 20%;
	}

	#reset > h2 {
		margin-top: 30%;
	}
}

@media screen and (min-width: 1024px) {
	.body-content {
		padding: 0 20%;
	}
}