
/***********************************************************************/
/*                         CSS FOR SIGN UP PAGE                        */
/***********************************************************************/
.body-content {
	background: linear-gradient(to bottom,
		rgba(242,250,255,1) 0%,
		rgba(255,255,255,1) 61%,
		rgba(69,174,255,1) 100%);
	display: block;
}

#signin {
	text-align: left;
	font-family: "Walkway Black";
	display: block;
	position: relative;
	display: block;
	color: #2A2A2A;
	width: 100%;
}

#signin > h2 {
	margin-top: 70px;
	margin-left: 100px;
}

#signin > p {
	margin-left: 100px;
	margin-bottom: -60px;
}

.logform {
	margin: 80px;
	padding: 50px 20px;
	border-radius: 0;
	border-top: 5px solid #009BFF;
	background-color: rgba(42,42,42, 0.7);
	display: block;
	color: white;
	height: 430px;
}


.input-group {
	margin: 7px 20px;
	border-radius: 100%;
}

input[type=text],
input[type=email],
input[type=password] {
	color: white;
}

#sizing-addon1 {
	background-color: rgba(0,0,0, 0.6);
	border: none;
}

#name, #username, #password,
#email, #password-confirm, #phone_number {
	background-color: rgba(0,0,0, 0.6);
	border: none;
	width: 100%;
	transition: all .2s linear;
}


#name:focus, #username:focus, #password:focus,
#email:focus, #password-confirm:focus, #phone_number:focus {
	border-bottom: 2px solid white;
	width: 99%;
}

.glyphicon {
	color: white;
}

.help-block {
	color: red;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}

.button-grp {
	width: 400px;
}

.btn-signin {
	float: right;
}

span {
	margin: 0;
}

@media screen and (min-width: 769px) {
	.body-content {
		padding: 0 20%;
	}

	.logform {
		padding: 40px 20px;
		width: 530px;
		height: 490px;
		margin: 80px 50%;
	}

	.form-horizontal {
		padding-top: 20px;
	}

	#signin {
		margin: 0 20%;
		width: 400px;
	}

	#signin > h2 {
		margin-top: 30%;
	}

	#signin > p {
		margin-bottom: -10%;
	}
}

@media screen and (min-width: 1024px) {
	
}