/***********************************************************************/
/*                      DEFAULT STYLES + FONTS                         */
/***********************************************************************/
body {
    margin: 0;
    background: fixed;
 }

 .bodycontent {
 	padding: 0;
 	margin: 0;
 }

p {
	font-family: "Segoe UI Semilight";
	font-size: 1.2em;
}

@font-face {
	font-family: "Segoe UI Semilight";
    src: url(../fonts/segoeuisl.ttf);
}

@font-face {
	font-family: "";
    src: url(../fonts/);
}

@font-face {
	font-family: "Walkway Black";
    src: url(../fonts/Walkway Black.ttf);
}

@media screen and (min-width: 769px) {
	#menu {
		display: none;
	}

	#glyph-menu {
		margin: 0 30px;
	}

	#gen-nav ul li {
		display: inline-block;
	}
}

@media screen and (min-width: 1024px) {
	/* insert style */
}

/***********************************************************************/
/*                         CSS FOR NAV AND FOOTER                      */
/***********************************************************************/
.container-fluid {
	margin: 0 30px;
	padding: 0px;
}

#gen-nav ul li {
	padding: 0 5px;
	color: #666;
	display: block;
	margin:0;
	text-transform:uppercase;
}

#gen-nav ul li:after {
  	display:block;
  	content: '';
  	border-bottom: solid 3px #009BFF;  
  	transform: scaleX(0);  
  	transition: transform 250ms ease-in-out;
}

#gen-nav ul li:hover {
	font-weight: bold;
}

#gen-nav ul li:hover:after {
	transform: scaleX(1);
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.dropdown-menu ul li {
	border-bottom: none;
}

.dropdown-menu > li > a:hover {
	background-color: #009BFF;
}

footer {
	background-color: #2A2A2A;
	text-align: center;
	bottom: 0px;
	width: 100%;
	clear: both;
}

footer p {
	color: white;
	padding: 20px;
	font-family: "Segoe UI Semilight";
	font-size: 1.1em;
	margin-bottom: 0px;
}
