/***********************************************************************/
/*                     STYLE FOR THE HOME PAGE                         */
/***********************************************************************/

.body-content{
	padding: 10px 20px;
	background: linear-gradient(to bottom,
		rgba(242,250,255,1) 0%,
		rgba(255,255,255,1) 61%,
		rgba(69,174,255,1) 100%);
	height: 
}

#filter {
	display: block;
	margin: 10px 30px;
}

#search-input {
    margin: 5px 0;
    padding: 0;
    width: 100%;
}
 
#search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    border-radius: 3px;
}
 
#search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    border-radius: 3px;
    color:#7B7D7D;
}
 
.search-query:focus + button {
    z-index: 3;   
}


legend {
	font-family: "Walkway Black";
}

.dropdown {
	clear: both;
	display: inline-block;
}

.dropdown-grp {
	width: 100%;
}

.checkboxes,
.checkboxes label {
	display: block;
	padding-left: 5px;
}	

.checkboxes 
.pagination {
	margin: 0 50px;
}

.pagination > li > a,
.pagination > li > span  {
	border-radius: 10% !important;
	margin: 0 5px;
}

.radio {
	margin-left: 30px;
}

#no-results {
	text-align: center;
	margin: 50px 0;
}

#filter-buttons {
	margin-top: 5px;
	display: block;
	text-align: center;
}

#filter-buttons button {
	width: 50%;
}

#pc-checkboxes,
#pc-location {
	display: none;
}

#no-results {
	padding: 50px 30px;
}

@media screen and (min-width: 769px) {

	#filter {
		width: 280px;
		margin-left: 80px;
		margin-top: 50px;
		display: block;
		height: 1300px;
	}

	#filter-buttons {
		text-align:left;
	}

	#filter-buttons a {
		margin-left: 7%;
	}

	.dropdown {
		display: none;
	}

	#pc-checkboxes,
	#pc-location {
		display: block;
	}

 	.checkboxes .cb {
 		margin-right: 5px;
 	}

 	#establishments {
 		padding-top: 50px;
 		height: 1800px;
 		position: absolute;
 		float: right;
 		flex: vertical;
 		left: 30%;
 	}

 	.body-content {
 		height: 2900px;
 	}

 	#filter-buttons a {
 		display: disabled;
 	}
}

@media screen and (min-width: 1024px) {

}


