/***********************************************************************/
/*                      STYLE FOR VIEW DORM                            */
/***********************************************************************/

.body-content {
	background: linear-gradient(to bottom,
		rgba(242,250,255,1) 0%,
		rgba(255,255,255,1) 61%,
		rgba(69,174,255,1) 100%);
	padding: 25px 10%;
}

#info a {
	position: absolute;
	float: right;
}

#info img {
	width: 100%;
	margin-bottom: 10px;
	max-height: 350px;
	object-fit: cover;
	object-position: center;
}

.body-content h2 {
	padding-top: 30px;
}

.body-content h2,
.body-content h4 {
	font-family: "Walkway Black";
}

.well {
	width: 100%;
}

dt {
    float: left;
    width: 40%;
    text-align: right;
    padding: .25em;
    clear: left;
}

dd {
    float: left;
    width: 60%;
    padding: .25em 0;
}

dl:after { 
	content:"";
	display:table;
	clear:both;
}

.nocomment {
	text-align: center;
}

#btn-upload {

}

#btn-upload > button {
	width: 100%;
}

#btn-cmt {
	width: 100%;
}

.well-cmt {
	display: inline-block;
}

#cmt-time {
	font-size: .7em;
	color: #969696;
	float: right;
}

.modal-content {
	top: 100px;
	left: 20%;
	width: 400px;
}

.modal button {
	margin: 5px;
}

#gallery li {
	list-style: none;
}

#gallery img {
	width: 100%;
	margin-bottom: 20px;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 3px;
	padding: 0 20%;
}

@media screen and (min-width: 769px) {
	#btn-upload {
		margin-left: 40%;
		width: 150px;
	}

	#btn-upload > button {
		width: 100%;
	}

	#btn-cmt {
		width: 100px;
		margin-left: 87%;
	}
}

@media screen and (min-width: 1024px) {

	#info > img {
		width: 60%;
		margin-bottom: 20px;
		display: block;
	}

	#est {
		width: 30%;
		height: 42%;
		float: right;
		top: 485px;
		left: 60%;
		position: absolute;
	}

	#btn-upload {
		margin-left: 43%;
	}

	#btn-cmt {
		margin-left: 91%;
	}


}