/***********************************************************************/
/*                      STYLE FOR VOTE PAGE                            */
/***********************************************************************/

.body-content {
	background: linear-gradient(to bottom,
		rgba(242,250,255,1) 0%,
		rgba(255,255,255,1) 61%,
		rgba(69,174,255,1) 100%);
	padding: 10% 0;
	display: block;
}

.poll > h2 {
	font-family: "Walkway Black";
}

.poll {
	position: relative;
	width: 50%;
	display: block;
	background-color: rgba(42,42,42, 0.7);
	margin: 0 25%;
	padding: 5px 10px;
	color: white;
}

.poll-list {
	margin-left: 5%;
}

.btn-success {
	width: 50%;
	margin-left: 20%;
}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 1024px) {
	/* insert style */
}